<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>User Directory</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>User Directory</h1>
<div id="app">
    <input v-on:keyup.13="createUser(newUser)" v-model="newUser.first_name"/>
    <input v-on:keyup.13="createUser(newUser)" v-model="newUser.last_name"/>
    <button v-on:click="createUser(newUser)">save</button>
    <li v-for="user , i in users">
        <div v-if="editUser === user.id">
            <input type="file" @change="upload($event,user)" id="file-input">
            <input v-on:keyup.13="updateUser(user)" v-model="user.first_name"/>
            <input v-on:keyup.13="updateUser(user)" v-model="user.last_name"/>
            <button v-on:click="updateUser(user)">save</button>
        </div>
        <div v-else>
            <button v-on:click="editUser = user.id">edit</button>
            <button v-on:click="deleteUser(user.id, i)">x</button>
            {{user.id}}
            {{user.first_name}}
            {{user.last_name}}
            <img :src="user.img"/>
        </div>
    </li>
    <button v-on:click="prev(records)">prev</button>
    <button v-on:click="next(records)">next</button>
</div>
<script src="web/main.js"></script>
</body>
</html>